[submodule "Sample_Lua/frameworks/cocos2d-x"]
	path = Sample_Lua/frameworks/cocos2d-x
	url = git://github.com/cocos2d/cocos2d-x.git
[submodule "Sample_JSB/frameworks/js-bindings/cocos2d-x"]
	path = Sample_JSB/frameworks/js-bindings/cocos2d-x
	url = git://github.com/cocos2d/cocos2d-x.git
